body {
  background: black;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #17d4fe;
  font-size: 70px;
  font-weight: 400;
  font-family: Orbitron;
  letter-spacing: 5px;
}

